.topbar {
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center; /* Center container horizontally */
  align-items: center;
  padding: 0 20px;
  background-color: #18181b;
  color: #fff;
}

.topbar-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.lifics-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Spacing between avatar and button */
}

.btn-primary {
  background-color: #4f46e5; /* Indigo-600 */
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.btn-primary:hover {
  background-color: #4338ca; /* Indigo-700 */
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #a0aec0; /* Placeholder */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #1a202c;
  font-weight: bold;
  font-size: 0.9rem;
  overflow: hidden;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.user-name {
  font-weight: bold;
  font-size: 0.9rem;
  color: #ffd000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-email {
  font-size: 0.75rem;
  color: #ffd000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow-down-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
  color: #a0aec0;
}

.arrow-down-icon.open {
  transform: rotate(180deg);
}

.user-menu {
  position: absolute;
  top: 110%; /* slightly lower */
  right: 0;
  border-radius: 8px;
  border-color: #ffd000;
  padding: 10px 0;
  z-index: 100;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-menu .menu-item {
  padding: 10px 16px;
  color: #ffd000;
  font-size: 0.9rem;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-item:hover{
  background-color: none;
}

.user-menu .menu-item:hover {
  background-color: #f7fafc; /* Gray-100 */
}

.user-menu .menu-item.logout {
  color: #e53e3e; /* Red */
}

.user-menu .menu-item.logout:hover {
  background-color: #fed7d7; /* Red-100 */
  color: #c53030; /* Red-700 */
}
